In [1]:
import os 
import pandas as pd
import numpy as np

In [2]:
BW14 = pd.read_table('../Gene_expression_data/Ecoli_BW25113_GSE85914_expression_subset.txt')
K12 = pd.read_table('../Genomes/Ecoli_K12_MG1655_chrom_U00096_gene_info.txt')

In [3]:
K12.head()

,gbk_start,gbk_end,gbk_midpoint,gbk_gene_id,gbk_locus_tag,gbk_old_locus_tag,gbk_strand
0,190,255,222,thrL,b0001,NaN,0
1,337,2799,1568,thrA,b0002,NaN,0
2,2801,3733,3267,thrB,b0003,NaN,0
3,3734,5020,4377,thrC,b0004,NaN,0
4,5234,5530,5382,yaaX,b0005,NaN,0

In [4]:
BW14.head()

   Name Synonym  Expression WT
0  thrL   b0001            261
1  thrA   b0002           1314
2  thrB   b0003            809
3  thrC   b0004            356
4  yaaX   b0005             14

In [5]:
len(BW14)

4941

In [6]:
len(K12)

4498

In [7]:
BW14.isna().sum()

Name             0
Synonym          0
Expression WT    0
dtype: int64

In [8]:
K12.isna().sum()

gbk_start               0
gbk_end                 0
gbk_midpoint            0
gbk_gene_id             0
gbk_locus_tag           0
gbk_old_locus_tag    4496
gbk_strand              0
dtype: int64

In [9]:
x=len(pd.merge(BW14, K12, left_on='Name', right_on='gbk_gene_id'))
x

4599

In [10]:
y=len(pd.merge(BW14, K12, left_on='Synonym', right_on='gbk_locus_tag'))
y

4318

In [11]:
print(x/len(BW14),y/len(BW14))

0.930783242258652 0.8739121635296498

In [ ]:
#non neighbouring blocks checks 

 #number of gene that are in the overlapping block 


##compare old BW
#list of all the genes in the block (pivot)