In [1]:
import os

In [2]:
print(os.getcwd())

/Users/quee/Backup/Final_expression_051820

In [3]:
#os.cwd()
import numpy as np
import pandas as pd

In [4]:
#load data
block = pd.read_table("inversion_block_info_all.txt")
ATCC = pd.read_csv("Ecoli_ATCC_25922_final_exp.csv")
BW25113 = pd.read_csv("Ecoli_BW25113_final_exp.csv")
K12DH = pd.read_csv("Ecoli_K12_DH10B_final_exp.csv")
K12MG = pd.read_csv("Ecoli_K12_MG1655_final_exp.csv")

In [144]:
#sort block files based on taxa
ATCC_block = block[block.taxa=='NZ_CP009072'].sort_values(by='start').reset_index(drop=True)
BW25113_block = block[block.taxa=='NZ_CP009273'].sort_values(by='start').reset_index(drop=True)
K12DH_block = block[block.taxa=='NC_010473'].sort_values(by='start').reset_index(drop=True)
K12MG_block = block[block.taxa=='U00096'].sort_values(by='start').reset_index(drop=True)

In [6]:
#function to match by start
def match_block_start(gene_start, block_file): 
    block_file = block_file.sort_values(by='start').reset_index(drop=True)
    starts =[]
    for i in block_file.start:
        if i < gene_start: 
            starts.append(i)
    return(block_file.block[np.argmax(starts)])

In [7]:
#function to match by gene end 
def match_block_end(gene_end, block_file):
    block_file = block_file.sort_values(by='start', ascending=False).reset_index(drop=True)
    ends =[]
    for j in block_file.end:
        if j > gene_end: 
            ends.append(j)
    return(block_file.block[np.argmin(ends)])

### BW map to K12 
#### check difference between gen_info

## files to check neighbouring blocks

In [8]:
ATCC_block['block_order'] = np.arange(1,len(ATCC_block)+1,1)
BW25113_block['block_order'] = np.arange(1,len(BW25113_block)+1,1)
K12DH_block['block_order'] = np.arange(1,len(K12DH_block)+1,1)
K12MG_block['block_order'] = np.arange(1,len(K12MG_block)+1,1)

 ## is there space between blocks 
 ## same blocks that are usually spitted up genes 
 ## compare K12 and BW

# ATCC

### block file - spaces between blocks

In [112]:
ATCC_block.head()

,block,taxa,start,end,rev_comp,inversion,block_order,diff,overlaps
0,Block611,NZ_CP009072,0,19237,0,0,1,0,False
1,Block612,NZ_CP009072,19639,25321,0,0,2,402,False
2,Block613,NZ_CP009072,25328,25469,0,0,3,7,False
3,Block614,NZ_CP009072,25805,30879,0,0,4,336,False
4,Block615,NZ_CP009072,30896,41163,0,0,5,17,False

In [102]:
diff = [0]

In [103]:
for i in range(len(ATCC_block.start)-1):
    diff.append(ATCC_block.start[i+1] - ATCC_block.end[i])

In [107]:
ATCC_block['diff'] = diff

In [111]:
ATCC_block['overlaps'] = ATCC_block['diff'] < 0

In [116]:
ATCC_block[ATCC_block['overlaps']==True]

,block,taxa,start,end,rev_comp,inversion,block_order,diff,overlaps
15,Block625,NZ_CP009072,76379,76482,0,0,16,-22202,True
61,Block65,NZ_CP009072,335018,335048,0,0,62,-68,True
86,Block710,NZ_CP009072,463359,464582,0,0,87,-89,True
95,Block723,NZ_CP009072,518405,529887,0,0,96,-15,True
147,Block1037,NZ_CP009072,2146364,2150588,0,0,148,-33,True
155,Block56,NZ_CP009072,2181931,2182478,0,0,156,-2653,True
186,Block21,NZ_CP009072,2291613,2291650,0,0,187,-172,True
187,Block1072,NZ_CP009072,2291628,2291672,0,0,188,-22,True
228,Block78,NZ_CP009072,2509523,2509557,0,0,229,-1231,True
230,Block1127,NZ_CP009072,2511196,2521120,0,0,231,-158,True
231,Block267,NZ_CP009072,2520456,2520508,0,0,232,-664,True
291,Block28,NZ_CP009072,2811080,2811750,0,0,292,-53,True
412,Block584,NZ_CP009072,5067796,5067848,0,0,413,-91,True
426,Block599,NZ_CP009072,5101968,5101997,0,0,427,-327,True

In [120]:
ATCC_block.loc[14:15]

,block,taxa,start,end,rev_comp,inversion,block_order,diff,overlaps
14,Block627,NZ_CP009072,74379,98581,0,0,15,79,False
15,Block625,NZ_CP009072,76379,76482,0,0,16,-22202,True

## ATCC expression data

In [121]:
ATCC_block_by_start = [match_block_start(i, ATCC_block) for i in ATCC.gbk_start]

In [122]:
#manual adjustments, e.g 551, 1630 
ATCC.gbk_end = [i.replace('>','') for i in ATCC.gbk_end]

AttributeError: 'int' object has no attribute 'replace'

In [128]:
ATCC['gbk_end'] = pd.to_numeric(ATCC['gbk_end'])
ATCC_block_by_end = [match_block_end(i, ATCC_block) for i in ATCC.gbk_end]

In [138]:
ATCC_new = ATCC
ATCC_new['block_by_start'] = ATCC_block_by_start
ATCC_new['block_by_end'] = ATCC_block_by_end

In [139]:
ATCC_new['Single_block'] = ATCC_new['block_by_start'] == ATCC_new['block_by_end']

In [145]:
print(len(ATCC_new), sum(ATCC_new.Single_block))

4825 941

In [146]:
ATCC_new.head()

,gene_id,gbk_start,gbk_end,gbk_midpoint,gbk_gene_id,gbk_old_locus_tag,norm_exp,block_by_start,block_by_end,Single_block
0,DR76_RS00005,1,1278,639,NaN,DR76_1,6.407149,Block611,Block611,True
1,DR76_RS00010,1275,2279,1777,NaN,DR76_2,9.374275,Block611,Block611,True
2,DR76_RS00015,2276,3241,2758,NaN,DR76_4,12.994059,Block611,Block611,True
3,DR76_RS00020,3215,3961,3588,NaN,DR76_3,36.333188,Block611,Block611,True
4,DR76_RS00025,4013,4831,4422,NaN,DR76_5,8.955027,Block611,Block611,True

In [147]:
#non single blocks - check for neighbouring 
ATCC_non_sb = ATCC_new[ATCC_new.Single_block==False]
print(len(ATCC_non_sb))
ATCC_non_sb = pd.merge(ATCC_non_sb, ATCC_block, how='left', left_on='block_by_start', right_on='block')
ATCC_non_sb = ATCC_non_sb.drop(['Single_block','block', 'taxa', 'start', 'end', 'rev_comp','inversion'],1)
print(len(ATCC_non_sb))

3884
3884

In [150]:
ATCC_non_sb.head()

,gene_id,gbk_start,gbk_end,gbk_midpoint,gbk_gene_id,gbk_old_locus_tag,norm_exp,block_by_start,start_order
0,DR76_RS00095,17656,21444,19550,NaN,DR76_19,24.623102,Block611,Block612
1,DR76_RS00105,25147,25463,25305,NaN,NaN,0.783176,Block612,Block613
2,DR76_RS00130,30599,32602,31600,NaN,DR76_25,14.611222,Block614,Block615
3,DR76_RS00185,41174,43471,42322,NaN,DR76_36,189.892515,Block615,Block616
4,DR76_RS00225,50926,51876,51401,NaN,DR76_44,14.716209,Block243,Block619

In [149]:
ATCC_non_sb.columns.values[-1] = 'start_order'

In [135]:
ATCC_non_sb = pd.merge(ATCC_non_sb, ATCC_block, how='left', left_on='block_by_end', right_on='block')
ATCC_non_sb = ATCC_non_sb.drop(['block', 'taxa', 'start', 'end', 'rev_comp','inversion'],1)
print(len(ATCC_non_sb))

3884

In [136]:
ATCC_non_sb.columns.values[-1] = 'end_order'

In [137]:
ATCC_non_sb.head()

,gene_id,gbk_start,gbk_end,gbk_midpoint,gbk_gene_id,gbk_old_locus_tag,norm_exp,block_by_start,block_by_end,block_order_x,diff_x,start_order,block_order_y,diff_y,end_order
0,DR76_RS00095,17656,21444,19550,NaN,DR76_19,24.623102,Block611,Block612,1,0,False,2,402,False
1,DR76_RS00105,25147,25463,25305,NaN,NaN,0.783176,Block612,Block613,2,402,False,3,7,False
2,DR76_RS00130,30599,32602,31600,NaN,DR76_25,14.611222,Block614,Block615,4,336,False,5,17,False
3,DR76_RS00185,41174,43471,42322,NaN,DR76_36,189.892515,Block615,Block616,5,17,False,6,16,False
4,DR76_RS00225,50926,51876,51401,NaN,DR76_44,14.716209,Block243,Block619,9,276,False,10,96,False

In [125]:
ATCC_non_sb['check_continuity'] = ATCC_non_sb['start_order'] < ATCC_non_sb['end_order']
print(len(ATCC_non_sb), sum(ATCC_non_sb['check_continuity'])) ##continuous
ATCC_non_sb['check_neighbour'] = ATCC_non_sb['start_order']+1 == ATCC_non_sb['end_order']
print(len(ATCC_non_sb), sum(ATCC_non_sb['check_neighbour']))

3884 3884
3884 3816

In [126]:
##single block and merge with block file 
ATCC_sb = ATCC_new[ATCC_new['Single_block']==True]
ATCC_sb = pd.merge(ATCC_sb, ATCC_block, how='left', left_on='block_by_start', right_on='block')

In [127]:
ATCC_non_sb.head()

,gene_id,gbk_start,gbk_end,gbk_midpoint,gbk_gene_id,gbk_old_locus_tag,norm_exp,block_by_start,block_by_end,start_order,end_order,check_continuity,end_order
0,DR76_RS00095,17656,21444,19550,NaN,DR76_19,24.623102,Block611,Block612,1,2,True,True
1,DR76_RS00105,25147,25463,25305,NaN,NaN,0.783176,Block612,Block613,2,3,True,True
2,DR76_RS00130,30599,32602,31600,NaN,DR76_25,14.611222,Block614,Block615,4,5,True,True
3,DR76_RS00185,41174,43471,42322,NaN,DR76_36,189.892515,Block615,Block616,5,6,True,True
4,DR76_RS00225,50926,51876,51401,NaN,DR76_44,14.716209,Block243,Block619,9,10,True,True

# BW25113

In [23]:
BW_block_by_start = [match_block_start(i, BW25113_block) for i in BW25113.gbk_start]

In [24]:
BW25113.gbk_end = [i.replace('>', '') for i in BW25113.gbk_end]

In [25]:
BW25113.gbk_end = pd.to_numeric(BW25113.gbk_end)

In [26]:
BW25113_block_by_end = [match_block_end(i, BW25113_block) for i in BW25113.gbk_end]

In [27]:
BW25113_new = BW25113
BW25113_new['block_by_start'] = BW_block_by_start
BW25113_new['block_by_end'] = BW25113_block_by_end

In [28]:
BW25113_new.head()

,gene_id,Locus_tag,gbk_start,gbk_end,gbk_midpoint,gbk_gene_id,gbk_locus_tag,norm_exp,block_by_start,block_by_end
0,araD,b0061,4413517,4414203,4413860,araD,BW25113_RS21810,0.000000,Block1094,Block1094
1,lacZ,b0344,358942,360144,359543,lacZ,BW25113_RS01765,0.686840,Block98,Block99
2,thrL,b0001,190,255,222,NaN,BW25113_RS00005,139.132614,Block1,Block1
3,thrA,b0002,337,2799,1568,NaN,BW25113_RS00010,710.751412,Block1,Block1
4,thrB,b0003,2801,3733,3267,NaN,BW25113_RS00015,430.081192,Block1,Block1

In [29]:
BW25113_new['Single_block'] = BW25113_new.block_by_start == BW25113_block_by_end
print(len(BW25113_new), sum(BW25113_new.Single_block))

4049 3024

In [30]:
#non single blocks - check for neighbouring 
BW25113_non_sb = BW25113_new[BW25113_new.Single_block==False]
print(len(BW25113_non_sb))
BW25113_non_sb = pd.merge(BW25113_non_sb, BW25113_block, how='left', left_on='block_by_start', right_on='block')
BW25113_non_sb = BW25113_non_sb.drop(['Single_block','block', 'taxa', 'start', 'end', 'rev_comp','inversion'],1)
print(len(BW25113_non_sb))

1025
1025

In [31]:
BW25113_non_sb.columns.values[-1] = 'start_order'

In [32]:
BW25113_non_sb = pd.merge(BW25113_non_sb, BW25113_block, how='left', left_on='block_by_end', right_on='block')
BW25113_non_sb = BW25113_non_sb.drop(['block', 'taxa', 'start', 'end', 'rev_comp','inversion'],1)
print(len(BW25113_non_sb))

1025

In [33]:
BW25113_non_sb.columns.values[-1] = 'end_order'

In [34]:
BW25113_non_sb.head()

,gene_id,Locus_tag,gbk_start,gbk_end,gbk_midpoint,gbk_gene_id,gbk_locus_tag,norm_exp,block_by_start,block_by_end,start_order,end_order
0,lacZ,b0344,358942,360144,359543,lacZ,BW25113_RS01765,0.686840,Block98,Block99,94,95
1,yaaX,b0005,5234,5530,5382,NaN,BW25113_RS00030,7.524657,Block1,Block2,1,2
2,yaaA,b0006,5683,6459,6071,NaN,BW25113_RS00035,22.820500,Block3,Block4,3,4
3,satP,b0010,9928,10494,10211,NaN,BW25113_RS00055,4.849270,Block4,Block5,4,5
4,insL1,b0016,15445,16557,16001,NaN,BW25113_RS00080,10.509688,Block6,Block7,6,7

In [35]:
BW25113_non_sb['check_continuity'] = BW25113_non_sb['start_order'] < BW25113_non_sb['end_order']
print(len(BW25113_non_sb), sum(BW25113_non_sb['check_continuity'])) ##continuous
BW25113_non_sb['check_neighbour'] = BW25113_non_sb['start_order']+1 == BW25113_non_sb['end_order']
print(len(BW25113_non_sb), sum(BW25113_non_sb['check_neighbour']))

1025 1025
1025 943

In [36]:
##single block and merge with block file 
BW25113_sb = BW25113_new[BW25113_new['Single_block']==True]
BW25113_sb = pd.merge(BW25113_sb, BW25113_block, how='left', left_on='block_by_start', right_on='block')

# K12DH

In [37]:
K12DH_block_by_start = [match_block_start(i, K12DH_block) for i in K12DH.gbk_start]

In [38]:
K12DH.gbk_end = [i.replace('>', '') for i in K12DH.gbk_end]

In [39]:
K12DH.gbk_end = pd.to_numeric(K12DH.gbk_end)

In [40]:
K12DH_block_by_end = [match_block_end(i, K12DH_block) for i in K12DH.gbk_end]

In [41]:
K12DH_new = K12DH
K12DH_new['block_by_start'] = K12DH_block_by_start
K12DH_new['block_by_end'] = K12DH_block_by_end

In [42]:
K12DH_new.head()

,locus_tag,gene_id,gbk_start,gbk_end,gbk_midpoint,gbk_gene_id,gbk_locus_tag,norm_exp,block_by_start,block_by_end
0,ECDH10B_0001,thrL,190,255,222,thrL,ECDH10B_RS00005,61.593544,Block1,Block1
1,ECDH10B_0002,thrA,337,2799,1568,thrA,ECDH10B_RS00010,1271.681520,Block1,Block1
2,ECDH10B_0003,thrB,2801,3733,3267,thrB,ECDH10B_RS00015,264.755959,Block1,Block1
3,ECDH10B_0004,thrC,3734,5020,4377,thrC,ECDH10B_RS00020,340.097388,Block1,Block1
4,ECDH10B_0005,yaaX,5234,5530,5382,NaN,ECDH10B_RS00030,15.062409,Block1,Block2

In [43]:
K12DH_new['Single_block'] = K12DH_new.block_by_start == K12DH_block_by_end
print(len(K12DH_new), sum(K12DH_new.Single_block))

4247 3043

In [44]:
#non single blocks - check for neighbouring 
K12DH_non_sb = K12DH_new[K12DH_new.Single_block==False]
print(len(K12DH_non_sb))
K12DH_non_sb = pd.merge(K12DH_non_sb, K12DH_block, how='left', left_on='block_by_start', right_on='block')
K12DH_non_sb = K12DH_non_sb.drop(['Single_block','block', 'taxa', 'start', 'end', 'rev_comp','inversion'],1)
print(len(K12DH_non_sb))

1204
1204

In [45]:
K12DH_non_sb.columns.values[-1] = 'start_order'

In [46]:
K12DH_non_sb = pd.merge(K12DH_non_sb, K12DH_block, how='left', left_on='block_by_end', right_on='block')
K12DH_non_sb = K12DH_non_sb.drop(['block', 'taxa', 'start', 'end', 'rev_comp','inversion'],1)
print(len(K12DH_non_sb))

1204

In [47]:
K12DH_non_sb.columns.values[-1] = 'end_order'

In [48]:
K12DH_non_sb.head()

,locus_tag,gene_id,gbk_start,gbk_end,gbk_midpoint,gbk_gene_id,gbk_locus_tag,norm_exp,block_by_start,block_by_end,start_order,end_order
0,ECDH10B_0005,yaaX,5234,5530,5382,NaN,ECDH10B_RS00030,15.062409,Block1,Block2,1,2
1,ECDH10B_0006,yaaA,5683,6459,6071,yaaA,ECDH10B_RS00035,77.615241,Block3,Block4,3,4
2,ECDH10B_0010,yaaH,9928,10494,10211,satP,ECDH10B_RS00055,20.681454,Block4,Block5,4,5
3,ECDH10B_0016,insL-1,15445,16557,16001,NaN,ECDH10B_RS00080,12.867090,Block6,Block7,6,7
4,ECDH10B_0021,nhaR,18721,19620,19170,nhaR,ECDH10B_RS00095,52.599502,Block8,Block9,8,9

In [49]:
K12DH_non_sb['check_continuity'] = K12DH_non_sb['start_order'] < K12DH_non_sb['end_order']
print(len(K12DH_non_sb), sum(K12DH_non_sb['check_continuity'])) ##continuous
K12DH_non_sb['check_neighbour'] = K12DH_non_sb['start_order']+1 == K12DH_non_sb['end_order']
print(len(K12DH_non_sb), sum(K12DH_non_sb['check_neighbour']))

1204 1204
1204 1106

In [50]:
##single block and merge with block file 
K12DH_sb = K12DH_new[K12DH_new['Single_block']==True]
K12DH_sb = pd.merge(K12DH_sb, K12DH_block, how='left', left_on='block_by_start', right_on='block')

In [51]:
len(K12DH_sb)

3043

# K12MG

In [52]:
K12MG_block_by_start = [match_block_start(i, K12MG_block) for i in K12MG.gbk_start]

In [53]:
K12MG_block_by_end = [match_block_end(i, K12MG_block) for i in K12MG.gbk_end]

In [54]:
K12MG_new = K12MG
K12MG_new['block_by_start'] = K12MG_block_by_start
K12MG_new['block_by_end'] = K12MG_block_by_end

In [55]:
K12MG_new.head()

,Locus_tag,gene_id,gbk_start,gbk_end,gbk_midpoint,gbk_gene_id,gbk_old_locus_tag,norm_exp,block_by_start,block_by_end
0,b0001,thrL,190,255,222,thrL,NaN,10.199788,Block1,Block1
1,b0002,thrA,337,2799,1568,thrA,NaN,795.007797,Block1,Block1
2,b0003,thrB,2801,3733,3267,thrB,NaN,332.045802,Block1,Block1
3,b0004,thrC,3734,5020,4377,thrC,NaN,380.080043,Block1,Block1
4,b0005,yaaX,5234,5530,5382,yaaX,NaN,10.616967,Block1,Block2

In [56]:
K12MG_new['Single_block'] = K12MG_new.block_by_start == K12MG_block_by_end
print(len(K12MG_new), sum(K12MG_new.Single_block))

3891 2969

In [57]:
#non single blocks - check for neighbouring 
K12MG_non_sb = K12MG_new[K12MG_new.Single_block==False]
print(len(K12MG_non_sb))
K12MG_non_sb = pd.merge(K12MG_non_sb, K12MG_block, how='left', left_on='block_by_start', right_on='block')
K12MG_non_sb = K12MG_non_sb.drop(['Single_block','block', 'taxa', 'start', 'end', 'rev_comp','inversion'],1)
print(len(K12MG_non_sb))

922
922

In [58]:
K12MG_non_sb.columns.values[-1] = 'start_order'

In [59]:
K12MG_non_sb = pd.merge(K12MG_non_sb, K12MG_block, how='left', left_on='block_by_end', right_on='block')
K12MG_non_sb = K12MG_non_sb.drop(['block', 'taxa', 'start', 'end', 'rev_comp','inversion'],1)
print(len(K12MG_non_sb))

922

In [60]:
K12MG_non_sb.columns.values[-1] = 'end_order'

In [61]:
K12MG_non_sb.head()

,Locus_tag,gene_id,gbk_start,gbk_end,gbk_midpoint,gbk_gene_id,gbk_old_locus_tag,norm_exp,block_by_start,block_by_end,start_order,end_order
0,b0005,yaaX,5234,5530,5382,yaaX,NaN,10.616967,Block1,Block2,1,2
1,b0006,yaaA,5683,6459,6071,yaaA,NaN,65.346988,Block3,Block4,3,4
2,b0020,nhaR,18715,19620,19167,nhaR,NaN,68.588083,Block8,Block9,8,9
3,b0027,lspA,25207,25701,25454,lspA,NaN,83.041373,Block9,Block10,9,10
4,b0030,rihC,27293,28207,27750,rihC,NaN,118.748638,Block10,Block11,10,11

In [62]:
K12MG_non_sb['check_continuity'] = K12MG_non_sb['start_order'] < K12MG_non_sb['end_order']
print(len(K12MG_non_sb), sum(K12MG_non_sb['check_continuity'])) ##continuous
K12MG_non_sb['check_neighbour'] = K12MG_non_sb['start_order']+1 == K12MG_non_sb['end_order']
print(len(K12MG_non_sb), sum(K12MG_non_sb['check_neighbour']))

922 922
922 842

In [63]:
##single block and merge with block file 
K12MG_sb = K12MG_new[K12MG_new['Single_block']==True]
K12MG_sb = pd.merge(K12MG_sb, K12MG_block, how='left', left_on='block_by_start', right_on='block')

In [64]:
print(len(K12MG_sb))

2969

# Check gen_info for K12MG and BW

In [65]:
#load data
K12_info = pd.read_table("../Genomes/Ecoli_K12_MG1655_chrom_U00096_gene_info.txt")
BW_info = pd.read_table("../Genomes/Ecoli_BW25113_NZ_CP009273_gene_info.txt")

In [66]:
K12_info.head()

,gbk_start,gbk_end,gbk_midpoint,gbk_gene_id,gbk_locus_tag,gbk_old_locus_tag,gbk_strand
0,190,255,222,thrL,b0001,NaN,0
1,337,2799,1568,thrA,b0002,NaN,0
2,2801,3733,3267,thrB,b0003,NaN,0
3,3734,5020,4377,thrC,b0004,NaN,0
4,5234,5530,5382,yaaX,b0005,NaN,0

In [67]:
BW_info.head()

,gbk_start,gbk_end,gbk_midpoint,gbk_gene_id,gbk_locus_tag,gbk_old_locus_tag,gbk_strand
0,190,255,222,NaN,BW25113_RS00005,BW25113_0001,0
1,337,2799,1568,NaN,BW25113_RS00010,BW25113_0002,0
2,2801,3733,3267,NaN,BW25113_RS00015,BW25113_0003,0
3,3734,5020,4377,NaN,BW25113_RS00020,BW25113_0004,0
4,5234,5530,5382,NaN,BW25113_RS00030,BW25113_0005,0

In [68]:
BW_info['key'] = BW_info['gbk_old_locus_tag'].str[-4:]

In [69]:
K12_info['key'] = K12_info['gbk_locus_tag'].str[1:]

In [70]:
compare = pd.merge(BW_info, K12_info, on='key')

In [71]:
len(compare)

4202

In [72]:
compare.head()

,gbk_start_x,gbk_end_x,gbk_midpoint_x,gbk_gene_id_x,gbk_locus_tag_x,gbk_old_locus_tag_x,gbk_strand_x,key,gbk_start_y,gbk_end_y,gbk_midpoint_y,gbk_gene_id_y,gbk_locus_tag_y,gbk_old_locus_tag_y,gbk_strand_y
0,190,255,222,NaN,BW25113_RS00005,BW25113_0001,0,0001,190,255,222,thrL,b0001,NaN,0
1,337,2799,1568,NaN,BW25113_RS00010,BW25113_0002,0,0002,337,2799,1568,thrA,b0002,NaN,0
2,2801,3733,3267,NaN,BW25113_RS00015,BW25113_0003,0,0003,2801,3733,3267,thrB,b0003,NaN,0
3,3734,5020,4377,NaN,BW25113_RS00020,BW25113_0004,0,0004,3734,5020,4377,thrC,b0004,NaN,0
4,5234,5530,5382,NaN,BW25113_RS00030,BW25113_0005,0,0005,5234,5530,5382,yaaX,b0005,NaN,0

In [73]:
compare.dtypes

gbk_start_x             int64
gbk_end_x              object
gbk_midpoint_x          int64
gbk_gene_id_x          object
gbk_locus_tag_x        object
gbk_old_locus_tag_x    object
gbk_strand_x            int64
key                    object
gbk_start_y             int64
gbk_end_y               int64
gbk_midpoint_y          int64
gbk_gene_id_y          object
gbk_locus_tag_y        object
gbk_old_locus_tag_y    object
gbk_strand_y            int64
dtype: object

In [74]:
compare2 = pd.merge(K12_info, BW_info, on='gbk_start')

In [75]:
len(compare2)

65

In [76]:
# ATCC_block = block[block.taxa=='NZ_CP009072'].sort_values(by='start').reset_index(drop=True)

# starts =[]
# for i in ATCC_block.start:
#     if i < 5127087: 
#         starts.append(i)
# print(ATCC_block.block[np.argmax(starts)])

# ATCC_block = block[block.taxa=='NZ_CP009072'].sort_values(by='start', ascending=False).reset_index(drop=True)

# ends =[]
# for j in ATCC_block.end:
#     if j > 5128349: 
#         ends.append(j)
# print(ATCC_block.block[np.argmin(ends)])