In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_table("./ATCC_K12MG_K12DH_BW_gene_map.txt", header=None, usecols= [1,3,5,7])

In [3]:
df.columns = ['ATCC','BW','K12DH','K12MG']

In [4]:
df.head()

           ATCC               BW            K12DH  K12MG
0  DR76_RS24090  BW25113_RS01835  ECDH10B_RS01590  b0355
1  DR76_RS24085  BW25113_RS01840  ECDH10B_RS01595  b0356
2  DR76_RS24080  BW25113_RS01845  ECDH10B_RS01600  b0357
3  DR76_RS24075  BW25113_RS01850  ECDH10B_RS01605  b0358
4  DR76_RS14485  BW25113_RS01850  ECDH10B_RS01605  b0358

In [5]:
df.describe()

                ATCC               BW            K12DH  K12MG
count            256              256              256    256
unique           250              246              246    245
top     DR76_RS24075  BW25113_RS01850  ECDH10B_RS01605  b0358
freq               3                5                5      5

In [9]:
len(df[df['ATCC'].duplicated(keep=False)].sort_values(by='ATCC'))

11

In [8]:
len(df[df['BW'].duplicated(keep=False)].sort_values(by='BW'))

14

In [16]:
df[df['K12DH'].duplicated(keep=False)].sort_values(by='K12DH')

             ATCC               BW            K12DH  K12MG
7    DR76_RS13180  BW25113_RS00130  ECDH10B_RS00130  b0027
255  DR76_RS13180  BW25113_RS00130  ECDH10B_RS00130  b0027
95   DR76_RS13775  BW25113_RS00660  ECDH10B_RS00565  b0132
96   DR76_RS13780  BW25113_RS00660  ECDH10B_RS00565  b0132
97   DR76_RS13775  BW25113_RS00660  ECDH10B_RS00565  b0132
3    DR76_RS24075  BW25113_RS01850  ECDH10B_RS01605  b0358
4    DR76_RS14485  BW25113_RS01850  ECDH10B_RS01605  b0358
5    DR76_RS24075  BW25113_RS01850  ECDH10B_RS01605  b0358
6    DR76_RS14485  BW25113_RS01850  ECDH10B_RS01605  b0358
11   DR76_RS24075  BW25113_RS01850  ECDH10B_RS01605  b0358
12   DR76_RS24070  BW25113_RS01855  ECDH10B_RS01610  b4579
13   DR76_RS14490  BW25113_RS01855  ECDH10B_RS01610  b4579
14   DR76_RS24070  BW25113_RS01855  ECDH10B_RS01610  b4579
15   DR76_RS08345  BW25113_RS01855  ECDH10B_RS01610  b4579

In [18]:
df[df['K12MG'].duplicated(keep=False)].sort_values(by=['ATCC','K12MG']).reset_index(drop=True)

            ATCC               BW            K12DH  K12MG
0   DR76_RS08345  BW25113_RS01855  ECDH10B_RS01610  b4579
1   DR76_RS08360  BW25113_RS01870  ECDH10B_RS01625  b4579
2   DR76_RS13180  BW25113_RS00130  ECDH10B_RS00130  b0027
3   DR76_RS13180  BW25113_RS00130  ECDH10B_RS00130  b0027
4   DR76_RS13775  BW25113_RS00660  ECDH10B_RS00565  b0132
5   DR76_RS13775  BW25113_RS00660  ECDH10B_RS00565  b0132
6   DR76_RS13780  BW25113_RS00660  ECDH10B_RS00565  b0132
7   DR76_RS14485  BW25113_RS01850  ECDH10B_RS01605  b0358
8   DR76_RS14485  BW25113_RS01850  ECDH10B_RS01605  b0358
9   DR76_RS14490  BW25113_RS01855  ECDH10B_RS01610  b4579
10  DR76_RS24070  BW25113_RS01855  ECDH10B_RS01610  b4579
11  DR76_RS24070  BW25113_RS01855  ECDH10B_RS01610  b4579
12  DR76_RS24075  BW25113_RS01850  ECDH10B_RS01605  b0358
13  DR76_RS24075  BW25113_RS01850  ECDH10B_RS01605  b0358
14  DR76_RS24075  BW25113_RS01850  ECDH10B_RS01605  b0358